@charset "UTF-8";
/* * {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "고딕";

} */

@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


a{
	text-decoration: none;
	color: black;
}

.tb{
	padding-top: 40px;
	padding-bottom: 5px;
	width: 1000px
}
.tg {
	border: 2px; 
	
	border-collapse: collapse;
}

.tg td {
	background-color: #fff;
	border:none;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 16px;
	overflow: hidden;
	padding: 15px 10px;
	word-break: normal;
	border-bottom:2px solid purple;
}



.tg th {
	background-color: #D5C2EE;
	border-color: #ccc;
	border-style: solid;
	border-width: 0px;
	color: #333;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	
}

td:nth-child(2){
	text-align: left;

}



[type=button]{
	background-color: purple;
	width: 100px;
	height: 30px;
	color: white;
	border: none;
	border-radius: 7px;
	font-size: 20px;
	
}

